@font-face {
  font-family: "Glober Free Font";
  src: url('/fonts/Glober Thin Free.otf');
  font-weight: 200;
}

@font-face {
  font-family: "Glober Free Font";
  src: url('/fonts/Glober SemiBold Free.otf');
  font-weight: 500;
}

@font-face {
  font-family: "Bebaus Neue";
  src: url('/fonts/BebasNeueu Regular.otf');
  font-weight: 400;
}

@font-face {
  font-family: "Simplifica";
  src: url('/fonts/SIMPLIFICA Typeface.ttf');
}

@font-face { 
  font-family: "Gafata";
  src: url('/fonts/Gafata.otf'); 
}

body {
  color: #555;
  font-family: "Helvetica Nueu", sans-serif;
  font-size: 18px;
  font-weight: 300;
  padding-left: 100px;
  padding-right: 100px;
}
  
  h1 {
    font-size: 35px;
  }

  a {
    text-decoration: none;
    color: #555;
    font-style: italic;
  }

  a:hover {
    color: black;
  }

header {
  font-family: "Glober Free Font", sans-serif;
  font-size: 60px;
  font-weight: 200;
  color: #111;
}

  header span {
    font-weight: 500;
  }

  header ul {
  	list-style-type: none;
  	font-size: 20px;
  	margin: 0;
  	padding: 0;
  }
	
  header ul li {
  	  display: inline;
  	  font-weight: 500;
  }

article {
  display: inline-block;
  height: 100%;
  width: 60%;
}

.posts {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#disqus_thread {
	width: 60%;
}
