<meta property="og:type" content="website" />
<meta property="og:image" content="{{ "/images/whale.jpg" | prepend: site.url }}" />

{% if page.url == "/" %}
  <meta property="og:url" content="{{ site.url }}" />
  <meta property="og:title" content="{{ site.title }}" />
  <meta property="og:description" content="{{ site.description }}" />
{% else %}
  <meta property="og:url" content="{{ page.url | prepend: site.url }}" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:description" content="{{ page.description }}" />
{% endif %}
