<footer class="footer p-4">
  <div class="container">
    <div class="row h-100">
      <div class="col my-auto">
        <p class="mb-0">Created with &hearts; by xbili</p>
      </div>
      <div class="col text-right my-auto">
        <div class="nav nav-justified justify-content-end">
          <a class="nav-link" href="{{ site.resume_link }}">
            <i class="ion-document-text"></i>
          </a>
          <a class="nav-link" href="https://github.com/{{ site.github_username }}">
            <i class="ion-social-octocat"></i>
          </a>
          <a class="nav-link" href="https://twitter.com/{{ site.twitter_username }}">
            <i class="ion-social-twitter"></i>
          </a>
          <a class="nav-link" href="https://linkedin.com/in/{{ site.linkedin_username }}">
            <i class="ion-social-linkedin"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
