<header class="header p-4">
  <div class="container">
    <div class="row justify-content-between h-100">
      <div class="col-sm-12 col-md-3 push-md-9 my-auto text-center">
        <img src="{{ "/images/whale.jpg" | prepend: site.baseurl }}" class="img-fluid img-thumbnail rounded mb-2" alt="Me!" />
        <p>"Always Be Coding"</p>
      </div>

      <div class="col-sm-12 col-md-6 pull-md-6 my-auto">
        <h1 class="title">BILI XU</h1>
        <p class="mb-0">Computer Science</p>
        <p class="mb-0">National University of Singapore</p>
        <pre>xbili [at] u.nus [dot] edu</pre>

        <div class="row links">
          <div class="nav nav-justified">
            <a class="nav-link" href="{{ site.resume_link }}">
              <i class="ion-document-text"></i>
            </a>
            <a class="nav-link" href="https://github.com/{{ site.github_username }}">
              <i class="ion-social-octocat"></i>
            </a>
            <a class="nav-link" href="https://twitter.com/{{ site.twitter_username }}">
              <i class="ion-social-twitter"></i>
            </a>
            <a class="nav-link" href="https://linkedin.com/in/{{ site.linkedin_username }}">
              <i class="ion-social-linkedin"></i>
            </a>
          </div>
        </div>

        <div class="row links">
          <nav class="nav nav-justified">
            <a class="nav-link" href="#experience">Experience</a>
            <a class="nav-link" href="#projects">Projects</a>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
