<div class="project mb-5">
  <div class="row justify-content-between">
    <div class="col-md-3 text-center">
      <img src="{{ project.image | prepend: site.imageurl }}" alt="{{ project.title }}" class="img-fluid mb-2" />
    </div>
    <div class="col-md-9">
      <h4>{{ project.title }}</h4>
      {% if project.course %}
        <pre>{{ project.course }}</pre>
      {% endif %}

      {{ project.content }}

      <ul class="links">
        {% if project.link %}
          <li class="mr-3"><a href="{{ project.link }}"><i class="ion-link mr-1 align-baseline"></i>Link</a></li>
        {% endif %}

        {% if project.code %}
          <li><a href="{{ project.code }}"><i class="ion-code mr-1 align-baseline"></i>Code</a></li>
        {% endif %}

      </ul>

      <ul class="categories">
        {% for tag in project.tags %}
          <li>
            <span class="badge badge-pill badge-default {{ tag }}">{{ tag }}</span>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
