.header {
  background-color: aliceblue;

  .title {
    font-family: 'Coming Soon', sans-serif;
  }

  p {
    font-family: 'Coming Soon', sans-serif;
  }

  .links .nav {
    width: 100%;
  }

  .nav a.nav-link {
    color: #333;

    &:hover {
      color: #2fdab8;
    }
  }

  img {
    max-height: 250px;
  }
}

.container {
  max-width: 50em;
}

@media only screen and (max-width : 768px) {
  .header h1,
  .header p,
  .header pre {
    text-align: center;
  }

  .header .links .nav {
    justify-content: center;
  }
}

main {
  font-family: 'Lato', sans-serif;

  h1 {
    text-align: center;
    font-family: 'Coming Soon', sans-serif;
  }

  a {
    color: #2fdab8;
    &:hover {
      color: #333;
      text-decoration: none;
    }
  }

  .project,
  .work {
    img {
      max-height: 7em;
    }
  }

  .project {
    pre {
      white-space: pre-wrap;
    }

    .categories,
    .links {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;

      li {
        float: left;
        margin-right: 5px;
      }
    }

    .links {
      a {
        color: #333;
        text-decoration: underline;
        font-size: 1em;
      }
    }

    .categories {
      /** Tag colors */
      span.badge.badge-pill.badge-default.javascript {
        background-color: #5bc0de;
      }
      span.badge.badge-pill.badge-default.development {
        background-color: #d9534f;
      }
      span.badge.badge-pill.badge-default.open-source {
        background-color: #2fdab8;
      }
      span.badge.badge-pill.badge-default.python {
        background-color: #4584b6;
      }
      span.badge.badge-pill.badge-default.ios {
        background-color: #ff9900;
      }
      span.badge.badge-pill.badge-default.coursework {
        background-color: #823200;
      }
    }
  }
}


@media only screen and (max-width : 768px) {
  main {
    .project {
      h4, pre {
        text-align: center;
      }
    }
  }
}

.footer {
  height: 5em;
  color: white;
  background-color: #333;

  .nav {
    width: 100%;
  }

  .nav a.nav-link {
    color: white;

    &:hover {
      color: #2fdab8;
    }
  }
}

