---
layout: default
---

<header class="header p-4">
  <div class="container">
    <div class="row justify-content-between h-100">
      <div class="col-sm-12">
        <h2 class="text-center">{{ page.title }}</h2>
      </div>
      <div class="col-sm-12">
        <pre class="text-center">{{ page.date | date: '%d %B %Y' }}</pre>
      </div>
    </div>
  </div>
</header>

<main role="main">
  <div class="container mt-3 mb-3">
    <article>
      {{ page.content }}
    </article>
    <a href="/posts">Back</a>
  </div>
</main>
